html[data-theme-version="v_04"][data-theme="light"] {
    --md-sys-color-primary: rgb(138 80 34);
    --md-sys-color-surface-tint: rgb(138 80 34);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 220 198);
    --md-sys-color-on-primary-container: rgb(109 57 12);
    --md-sys-color-secondary: rgb(117 88 69);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 220 198);
    --md-sys-color-on-secondary-container: rgb(91 65 47);
    --md-sys-color-tertiary: rgb(95 97 53);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(229 230 174);
    --md-sys-color-on-tertiary-container: rgb(71 73 31);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(255 248 245);
    --md-sys-color-on-background: rgb(34 26 21);
    --md-sys-color-surface: rgb(255 248 245);
    --md-sys-color-on-surface: rgb(34 26 21);
    --md-sys-color-surface-variant: rgb(243 222 211);
    --md-sys-color-on-surface-variant: rgb(82 68 59);
    --md-sys-color-outline: rgb(132 116 106);
    --md-sys-color-outline-variant: rgb(215 195 183);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(56 47 41);
    --md-sys-color-inverse-on-surface: rgb(254 237 228);
    --md-sys-color-inverse-primary: rgb(255 183 132);
    --md-sys-color-primary-fixed: rgb(255 220 198);
    --md-sys-color-on-primary-fixed: rgb(48 20 0);
    --md-sys-color-primary-fixed-dim: rgb(255 183 132);
    --md-sys-color-on-primary-fixed-variant: rgb(109 57 12);
    --md-sys-color-secondary-fixed: rgb(255 220 198);
    --md-sys-color-on-secondary-fixed: rgb(43 23 8);
    --md-sys-color-secondary-fixed-dim: rgb(228 191 168);
    --md-sys-color-on-secondary-fixed-variant: rgb(91 65 47);
    --md-sys-color-tertiary-fixed: rgb(229 230 174);
    --md-sys-color-on-tertiary-fixed: rgb(27 29 0);
    --md-sys-color-tertiary-fixed-dim: rgb(200 202 148);
    --md-sys-color-on-tertiary-fixed-variant: rgb(71 73 31);
    --md-sys-color-surface-dim: rgb(231 215 206);
    --md-sys-color-surface-bright: rgb(255 248 245);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 241 234);
    --md-sys-color-surface-container: rgb(251 235 226);
    --md-sys-color-surface-container-high: rgb(246 229 220);
    --md-sys-color-surface-container-highest: rgb(240 223 214);
}
