---
import PagesLayout from "../layouts/PagesLayout.astro";


---

<PagesLayout seo={{ 
    title: "Контакты", 
    description: "Свяжитесь с нами для сотрудничества", 
    keywords: "контакты, связь, сотрудничество", 
    noIndex: false 
    }}>
    <h1>Контакты</h1>


</PagesLayout>
