---
import PagesLayout from "../layouts/PagesLayout.astro";
---

<PagesLayout seo={{ 
    title: "Главная страница", 
    description: "Свяжитесь с нами для сотрудничества", 
    keywords: "контакты, связь, сотрудничество", 
    noIndex: false 
    }}>
    <h1>Главная страница</h1>
</PagesLayout>
