---
const PhoneUser = '9188356040';
const WhatsappUser = '9188356040';
const TelegramUser = 'username';
---

<ul class="contacts__list">
  <li class="contacts__item"><a href={`tel:+7${PhoneUser}`} class="contacts__link" aria-label="Позвонить по телефону"><span class="_icon-phone"></span></a></li>
  <li class="contacts__item"><a href={`https://wa.me/+7${WhatsappUser}`} class="contacts__link" aria-label="Написать в WhatsApp" target="_blank" rel="noopener noreferrer"><span class="_icon-whatsapp"></span></a></li>
  <li class="contacts__item"><a href={`https://t.me/${TelegramUser}`} class="contacts__link" aria-label="Написать в Telegram" target="_blank" rel="noopener noreferrer"><span class="_icon-telegram"></span></a></li>
</ul>

<style lang="scss">
  .contacts {
    &__list {
      display: flex;
      gap: 12px;
      align-items: center;
    }

    &__item {
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      padding-top: 5px;

      border-radius: var(--border-radius-full);

      color: var(--md-sys-color-secondary);
      font-size: 32px;
      transition: all var(--transition-duration-slow);
      &:hover {
        color: var(--md-sys-color-on-surface);
        background: var(--md-sys-color-surface);
      }
    }
    [class*='_icon-'] {
      font-family: 'icomoon';
    }
  }
</style>
